.item{ 
    align-items: center;
    height: 250px;
    width: 27vw ;
    background-color:rgb(160, 189, 233);
    color: #fff;
    margin: 0 10px;
   }
   .item img{
    margin-top: 30px ;
    width: 77% ;
    height: 71% ;
  
   }
   #carousel-h3{
    margin-top: 5px;
    color:black;
   }
   /* דורס את העיצוב של mui  */
   .kJbKtH ,.cvwPPt{
    color: rgb(160, 189, 233) !important;
   }
   .cjxpzN:hover, .cjxpzN:focus{
     background-color: rgb(160, 189, 233) !important;
     box-shadow: 0 0 1px 3px rgb(160 189 233) !important;
   }
   .cjxpzN,.cjxpzN{
    box-shadow:0 0 1px 3px rgb(160, 189, 233) !important;
    background-color: rgb(160, 189, 233) !important;
   } 
   .cvwPPt:hover:enabled, .cvwPPt:focus:enabled{
    background-color:rgb(160, 189, 233) !important ;
    color: #fff!important;
   }
