.css-13xfq8m-MuiTabPanel-root{
    width: fit-content;
    margin-right: 4%;
    margin-top: 3%;
    background-color: #f7f7f8;
    height: max-content !important;
    .MuiDataGrid-root{
        background-color: white;
    }
}
.approvedCategory{
    list-style-type: none;
    margin-right: 160%;
    margin-top: -79%;

}
.css-omnl36{
    margin-top: -85%;
    margin-right: 130%;
}

#button{
    margin-top: -16%;
    width: 40%;
    margin-left: -53%;
}

.css-levciy-MuiTablePagination-displayedRows{
    display: none;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
    display: none;

}