body {
    font-family: "emoji";
}

#icon  {
    margin-left: 93%;
    margin-top: -45%;
    color: white;
}

#account{
    margin-right: 90%;
    margin-top: -49%;
    color: white;
}

#logout{
    margin-right: 90%;
    margin-top: -34%;
    color: black;
}

#h6-on{
    color: white;
    margin-top: -25%;
    margin-bottom: 25%;
}
#up-div {
    margin-top: -17%;
    margin-bottom: 9%;
    margin-left: 11%;
    color: white;
    text-align: left;

    h6 {
        letter-spacing: 6px;
    }
}