.div-one-room{
    display: block !important;
    border:1px solid black;
    padding: 2%;
    margin-bottom: 2%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
     margin-left: 20px !important;

}
.mapInp{
    margin-left: 65% !important;
    // margin-top: -56px !important;
    margin-top: -24.5% !important;
    margin-bottom: -17% !important;

}
.add-img{
    width: 140px;
    padding: 10px;
    height: 140px;
}
.autocomplete-address-input{
    margin-left: 75%;
}
.next-step{
    margin-bottom: -17% !important;
}
.css-2royc9{
    margin-top:9.5%;
}

.newCategory-div{
 
    margin-right: 38%;
    margin-bottom: 5%;
    margin-top: -14%;
   
}
.category{
    width: 35%;
}
// .opening-hour{

//    div h4{
//     margin-top: 2%;
//     margin-left: 1%;
//     }
// }
.next-step-trip{
    margin-right: -125px;
    margin-bottom: 183px !important;
    
}
#button{
    margin-top: 30%;
    margin-bottom: -17%;
    margin-right: 19%;
    width: 15%;
}
